html{
	scroll-behavior: smooth;
}

body {
	
	font-family: 'Roboto', sans-serif;
	background-color: white;
	margin: 0px;
}

/* Navbar for non-phone screens */
.navbar {
	right: 0;
	left: 0;
	top: 0;

	position: fixed;
	padding: 0px 12px; 


	min-height: 40px;
	z-index: 100;
	transform: translate3d(0px, 0px, 100px); /*For Safari*/


	transition: background-color 0.3s;
	width: auto;
}

.navbar-container {
	display: flex;
	flex-flow: row;
	height: auto;
	list-style-type: none;
	overflow: hidden;
	padding-left: 0;

	width: 100%;
	max-width: 1600px;
	padding: 12px;
	margin: 0 auto;
}

.navbar-button{
	flex-grow: 1;
	box-sizing: border-box;
	float:  left;
	border-right: 1px solid white;
	/* width: 33.3%; */
	min-height: 50px;
	
}
.navbar-button:last-child{
	border-right: none;
	opacity: 1;
}

.navbar-button>a{

	position: relative;
	display: block;
	padding: 10px 0px; 
	
	font-size: 20px;
	color: white;
	text-align: center;
	text-decoration: none;

	transition: all 0.2s;
	transform: perspective(1000px);
}

.navbar-menu-button {
	display: none;
}

.menu-icon{
	color: white;
	height: 40px;
	width: auto;

	transition: color 0.2s;
}

.home-icon{
	color: white;
	height: 36px;
	padding: 2px;
	width: auto;

	transition: color 0.2s ease;
}
.navbar-home-button{
	position: absolute;
	display: inline;
	float: left;
	padding: 14px;
	padding-left: 1%;
	margin: 0;
	z-index: 101;

}
.navbar-home-button :hover{
 color: #efae48;
}

.navbar-menu-button :hover{
	color: #efae48;
	cursor: pointer;
}

.menu-icon-selected{
	color: #efae48;
}

.transparent{
background-color: transparent;
}

.navbar-not-transparent{
	background-color: #282923;
}

.navbar-button>a:hover {
	color: #efae48;
	transform: perspective(1000px) translate3d(0px, 0px, 70px);
	/* font-size: 23px; */
}

.hidden{
	display: none;
}
.front-page{
position: relative;
top: 0px;
height: 100vh;
width: auto;
z-index: 0;
background-color: #282923;
}


/*Background Image*/
.main-image{
	position: absolute;
	max-height: 100%;
	max-width: 100%;
	right: 0px;
	bottom: 0px;
	z-index: -10;
}

#particles-js{ 
	position:absolute; 
	width: 100%; 
	height: 100%; 
	background-color: #282923; 
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%;
	z-index: -10; 
}

.button-hoverable{
	transition: all 0.3s ease;
	/*perspective: 1000px;*/
	transform: perspective(1000px);
}

.button-hoverable:hover{
	transform: perspective(1000px) translate3d(0px, 0px, 100px);
}



.front-button{
	text-decoration: none;
	font-size: 35px;
	color: white;
	text-align: center;

	display: inline-block;
	height: fit-content;
	width: 42.5%;
	padding: 15px 2.5%;
	/*margin: auto;*/
	/*margin: 0px 1%;*/
	/*background-color: #efae48;*/
	border: 1px solid #efae48;

	transition: all 0.3s ease;
}

.front-button:hover{
	background-color: #efae48;

}

.front-button:active{
	background-color: #a77931;
}


.title-text{
	font-size: 84px; 
	color: white;
	text-align: left;
	text-decoration: none;

	position: absolute;
}

.main-title{
	left: 7%;
	top:  20%;
}

.title-text > .sub-title{
	color: #efae48;
	font-size:  46px;
}

.main-title > struct{
	padding-left: 160px;
}
#front-button-1{
	margin-right: 2%;
}
#front-button-2{
	margin-left: 2%;
}
.front-button{
	margin-top: 60px;
}

@keyframes animation {
	24% {
		color: #efae48;
	}	
	25% {
		color: #282923; 
		}
	74%{
		color: #282923;
	}	
	75% {
		color: #efae48;
		}
}

.coding-animation{
	animation-name: animation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	margin-left: -10px; 
}

.chevron{
	color: #efae48;
	position: absolute;
	bottom: 5px;
	width: 128px;
	height: auto;
	left: 50%;
	margin-left: -64px;


	transition: bottom 0.2s ease, color 0.2s ease;
}

@media screen and (min-width: 860px){
	.chevron:hover{
		bottom: 15px;	
	}
	
	.chevron:active{
		bottom: 5px;
		color: #a77931;
	}	
}

#chevron-link{
	height: 128px; 
	width:128px; 
	z-index: 1;
}

.hidden-chevron{
	z-index: -1;
	color: black;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


#portfolio{
	/*background-image: linear-gradient(to right, #282923, #3e4036, #282923);*/
	background-image: -webkit-linear-gradient(right, #282923, #33342c, #282923);
	width: auto;
}

#portfolio-wrapper{
	position: relative; 
	max-width: 1600px; 
	min-height: 100vh; 
	margin: auto;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


#portfolio-title{ 
	color: white;
	text-decoration: none;
	margin-top: 104px;
	margin-bottom: 20px;
	font-size: 84px; 
}



.project-box{
	width: 80%;
	box-sizing: border-box;
	height: auto;
	margin: auto;
	margin-bottom: 90px;

	
	border-left: 3px solid #282923;
	padding-left: 5%;
	padding-right: 5%;
	/* margin-left: 5%; */

	/*background: -webkit-linear-gradient(left, rgba(40,41,35,70), rgba(40,41,35,0) 5%);*/
	background-image: none;
	
	transition: all 0.3s;
}


.card-hover{
	transform: perspective(1000px);
	transition: all 0.3s ease;
}




.project-box:last-child{
	margin-bottom: 150px;
}

.project-title{
	color: #282923;
	padding: 10px;
	margin: 0;
	/*text-align: center;*/
	font-size: 40px;

	overflow: hidden;
}

.project-image{
	padding: 0;
	float: right;
	margin: 10px;
	border: 1px solid white;
	border-radius: 15px;
	width: 25%;
}

.project-text{
	margin: 0;
	font-size: 25px;
	color: #282923;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px 10px;
	/*padding-bottom: 15px;*/
}

.project-button{
	z-index: 0;
	text-decoration: none;
	font-size: 25px;
	color: #282923;
	text-align: center;

	position: relative;
	display: inline-block;
	height: fit-content;
	width: 42.5%;
	padding: 15px 2.5%;
	margin-bottom: 10px;
	border: 1px solid #282923;

	transition: all 0.3s ease;
}

.project-button:hover{
	z-index: 1 !important;
	background-color: #efae48;
	border: 1px solid #efae48;

}

.project-button:active{
	z-index: 1 !important;
	background-color: #a77931;
	border: 1px solid #efae48;
}

.project-button-wrapper{
	padding: 0 10px;
	overflow-wrap: none;
}
.project-button-divider{
	display: inline-block;
	height: 100%;
	width: 1%;
}

.project-tags{
	color: #efae48;
	padding: 5px 10px;
	display: flex;
	flex-flow: row wrap;
	font-size: 20px;
}
.project-tags span{
	padding: 3px 5px;
	margin-right: 5px;
	background-color: #282923;
	border-radius: 10px;
	margin-bottom: 5px;
}

#about-wrapper{
	max-width: 1600px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.about-title{
	color: #282923;
	font-size: 84px;
	padding-top: 200px;
	padding-left: 15%;


	margin-bottom: 75px;
}

#about-text{
	width: 80%;
	color: #282923;
	font-size: 25px;
	/*margin-top: 90px;*/
	margin: auto;
	margin-bottom: 90px;
	/* margin-left: 10%; */
	padding: 15px 5% 15px 5%;

	padding-left: 5%;


	transition: all 0.3s ease;
}

.text-border{
	border-left: 3px solid #282923;
	transform: perspective(1000px);
	box-sizing: border-box;
}

.card-hover-manual{
	box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
	transform: perspective(1000px) translateZ(20px);
	border-left: 10px solid #282923;
}

.flex-break{
	height: 0;
	flex-basis: 100%;
}

#contact{
	min-height: 270px;
	width: 100%;
	background-color: #282923;
}


#main-background{
	height: 100vh;
	width: 100%;
	z-index: -1000;
	position: fixed;
	top: 0;
	left: 0;
	background-image: -webkit-linear-gradient(32deg, #a86631 10%, #d8dd57 90%);

}

.main-wrapper{
	max-width: 1600px;;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.full-page{
	min-height: 100vh;
}

.contact-wrapper{
	display: flex;
	justify-content: center;
}

#contact-title{
	font-size: 40px;
	color: white;

	padding: 30px;
	/*padding-bottom: 30px;*/
	margin: 0;
}

.contact-content{
	color: white;
	font-size: 20px;

	padding: 10px;
	padding-bottom: 30px;
	margin: 0;
	max-width: 80%;
}

.contact-content a{
	color: #efae48;
	
}

/*Ensure card hover mechanics only availale on non-phone screens*/
@media only screen and (min-width: 860px) {
	.project-box:hover{
	border-left: 10px solid #282923;
	}
	.card-hover:hover{
	box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px;
	transform: perspective(1000px) translateZ(20px);
	}
}

@media only screen and (max-width: 1300px) {
	#portfolio-title{
		font-size: 60px; 
	}

	.title-text, .about-title{
		font-size: 60px; 
	}

	.main-title{
		left: 7%;
		top:  20%;
		visibility: hidden;
	}

	#about-text, .project-text{
		font-size: 20px;
	}

	.main-title:before{
		content: "Dmitriy Prokopchuk";
		visibility: visible;
		position: absolute;
		top: 0;
		left: -4px;
	}

	.title-text > .sub-title{
		color: #efae48;
		font-size:  33px;
		visibility: visible;
	}
	.front-button{
		visibility: visible;
		font-size: 30px;
		width: 100%;
		padding: 15px 0;
		margin-top: 0;
	}
	.main-title > struct{
		padding-left: 0;
	}
	#front-button-1{
		margin-right: 0;
	}
	#front-button-2{
		margin-left: 0;
	}
}


/*For smaller screens*/
@media only screen and (max-width: 1090px){
	.project-image{
		width: 40%;
	}

	.project-box:last-child{
		margin-bottom: 80px;
	}


}

/*For phones*/
@media only screen and (max-width: 860px) {
	.contact-content{
		font-size: 16px;
	}
	.about-title{
		font-size: 48px;
		padding-top: 100px;

		margin-bottom: 45px;
	}

	.title-text{
		font-size: 60px; 
	}

	.main-title{
		visibility: hidden;
		left: 7%;
		top:  10%;
	}
	.main-title:before{
		content: "Dmitriy Prokopchuk";
		visibility: visible;
		position: absolute;
		top: 0;
		left: -4px;
	}

	.title-text > .sub-title{
		font-size:  30px;
	}

	/* #chevron-link{
		display: none;
	}
	.chevron{
		display: none;
	} */
	.front-button{
		visibility: visible;
		font-size: 20px;
		width: 100%;
		padding: 15px 0;
	}

	#portfolio-title{	
		font-size: 48px;
	}

	.navbar-container {
		display: none;
		margin: 0;
		padding: 0;
	}

	.navbar-button{
		padding: 0px 0px;
		width: 32%;
		margin: 0px auto;
		text-align: center;
		float:none;
		border-right: none;
		border-bottom: 1px solid white; 
	}


	.navbar-button>a{
		display: inline-block;
		padding: 15px 10px; 

		width: 100%;
		box-sizing: border-box;
		
	}
	.navbar-button:last-child {
		border-bottom: none;
	}
	.navbar-menu-button {
		display: inline-block;
		float: right;
		padding: 14px;
		padding-right: 1%;
		margin: 0;
		height: 44px;
	}

	.project-image{
		width: 70%;
		text-align: center;
		margin: 10px auto;
		display: block;
		float: none;
	}

	.project-title{
		font-size: 30px;
	}

	.project-button{
		font-size: 20px;
	}

	.project-tags{
		font-size: 16px;
	}
}



/* For very small devices */
@media only screen and (max-width: 500px)
{
	.title-text, .about-title{
		font-size: 40px; 
	}
	.title-text > .sub-title{
		font-size:  20px;
	}
	.front-button, .project-text, .navbar-button>a, #about-text, .project-button{
		font-size: 16px;
	}
	.chevron{
		width: 64px;
		margin-left: -32px;
	}
}